{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-106-hero.jpg" cegTitle="Best Maternity Clothing Brands"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Best Maternity Clothing Brands</h1>
            <p>What are the best maternity clothing brands? Shop A Pea in the Pod, Motherhood Maternity and Jessica Simpson to get all the essential maternity clothing for your work-to-weekend wardrobe. From traditional to trend-forward, Macy’s has the best selection of maternity wear for great comfort and your sense of style.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2><a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Brand/A%20Pea%20in%20the%20Pod?id=66718">A Pea in the Pod</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Do you want to look your very best during your pregnancy? Invest in fashionable maternity clothes from A Pea in the Pod at Macy’s. They offer their own stylish collection of maternity clothes and collaborations with your favorite designer brands, like BCBG, 7 For All Mankind and J Brand. If you’re planning on having multiple children, you should definitely embrace your pregnancy experience with key stylish pieces from A Pea in the Pod.</p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-106-03.jpg" alt="A Pea in the Pod">
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
        	<h5>What To Wear?</h5>
            <p class="ceg-b32">
            	<strong>Work:</strong> For a sleek office look, pair a flowing top with skinny pants.<br>
            	<strong>Weekend:</strong> Highlight your bump in a stretchy top with ripped maternity jeans for a laid-back look.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2><a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Brand/Motherhood%20Maternity?id=66718">Motherhood Maternity</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">If you don’t believe in breaking the bank for a temporary wardrobe, then Motherhood Maternity is the brand for you. They offer an affordable collection of maternity clothes, ranging from basics to baby shower dresses. Motherhood Maternity is a one-stop shop for all your maternity needs.</p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-106-02.jpg" alt="Motherhood Maternity">
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
        	<h5>What To Wear?</h5>
            <p class="ceg-b32">
            	<strong>Work:</strong> Be the belle of the boardroom in a maternity sheath dress, featuring a darker hue.<br>
            	<strong>Weekend:</strong> Need to run errands? Sport a ruched top and maternity leggings layered with a draped cardigan.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2><a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Brand/Jessica%20Simpson?id=66718">Jessica Simpson Maternity</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Famed reality star and singer Jessica Simpson expanded her clothing line to include maternity wear shortly after giving birth to her first child in 2012. Partnering with Destination Maternity, Jessica Simpson creates a fashionable mixture of bohemian-inspired pieces and basics for moms-to-be.</p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-106-04.jpg" alt="Jessica Simpson Maternity">
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
        	<h5>What To Wear?</h5>
            <p class="ceg-b32">
            	<strong>Work:</strong> A-line and sheath maternity dresses are perfect for work—add feminine frills with ruffles or lace.<br>
            	<strong>Weekend:</strong> Keep your look casual in tanks or dress it up with a peasant top. Bottom up your outfit with maternity jeans or leggings.
            </p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-107-03.jpg" alt="Top Designer Maternity Jeans">
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2><a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Jeans?id=66718">Top Designer Maternity Jeans</a></h2>
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">You can still be stylish and pregnant with designer maternity jeans from your favorite brands. From classic skinnies to trend-right distressed styles, designer maternity jeans feature a stretchy waistband that can be folded down or worn over the belly for additional support. Pair all your new maternity tops with these designer denim brands:</p>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li>7 For All Mankind</li>
            	<li>AG Jeans</li>
            	<li>Citizen's of Humanity</li>
            	<li>Joe's Jeans</li>
            	<li>Paige Denim</li>
            </ul>
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
        	<h5>What To Wear?</h5>
            <p class="ceg-b32">
            	<strong>Work:</strong> What do you wear on a Casual Friday? Maternity skinny jeans in a dark wash paired with a belted statement shirt.<br>
            	<strong>Weekend:</strong> Pair up a tank top and a pair of distressed maternity jeans—complete your outfit with a draped cardigan.
            </p>
        </div>

        <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-107-04.jpg" alt="Top Designer Maternity Wear">
	        </div>
    	</div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2><a href="{{domainUrl}}/ce/best-maternity-clothes-fashion/index">Top Designer Maternity Wear</a></h2>
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Do you want to dress like a celebrity mom-to-be? Showcasing trend-right styling and ultra-flattering silhouettes, these top designer maternity brands will be you go-tos for fashionable favorites throughout your pregnancy:</p>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li>BCBGMAXAZRIA</li>
            	<li>Isabella Oliver</li>
            	<li>Rachel Pally</li>
            	<li>Seraphine</li>
            	<li>Splendid</li>
            </ul>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
        	<h5>What To Wear?</h5>
            <p class="ceg-b32">
            	<strong>Work:</strong> Make a stylish statement in a flattering maxi maternity dress, blooming with a floral print.<br>
            	<strong>Weekend:</strong> Pair a lace-up maternity top and jogger pants for comfy-chic look.
            </p>
        </div>
    </div>
</div>
	{{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>