{{! Load CSS First }}
<link href="{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-101-hero.jpg" cegTitle="Index"}}
<div class="ceg-content">
	<div class="row ceg-hero-text">
        <div class="large-11 small-10 large-centered small-centered column">
            <h1>Maternity Clothing Guide</h1>
            <p>Baby on board? Congratulations! Now that you're expecting, we can get into the really important stuff…like what you're going to wear during your pregnancy. We know you might be a bit preoccupied preparing for the baby's arrival (<a href="{{domainUrl}}/ce/splash/newborn-checklist/index">we can help with that, too</a>), but we firmly believe that you should still make time to take care of yourself during this amazing experience. And since dressing well is an act of self-care, curating an awesome maternity style should be at the top of your to-do list. Macy’s has an amazing selection!</p>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">

            <h2>Style Essentials You Need During Pregnancy</h2>

            <p class="ceg-b32">Check out our maternity fashion guide for tips and tricks on essential pregnancy pieces, what you should have in your closet during each trimester, special occasion outfit ideas and so much more!</p>
        </div>
    </div>

    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link">
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/when-to-buy-maternity-clothes/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-02.jpg" alt="When to Buy Maternity Clothes">
                <p>When to Buy Maternity Clothes</p>
            </a>
        </div>
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/what-maternity-clothes-do-I-really-need/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-03.jpg" alt="What Maternity Clothes Do I Really Need?">
                <p>What Maternity Clothes Do I Really Need?</p>
            </a>
        </div>
    </div>

    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link">
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/best-shoes-for-pregnancy/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-08.jpg" alt="Best Shoes for Pregnancy">
                <p>Best Shoes for Pregnancy</p>
            </a>
        </div>
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/best-maternity-clothing-brands/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-06.jpg" alt="Best Maternity Clothing Brands">
                <p>Best Maternity Clothing Brands</p>
            </a>
        </div>
    </div>
    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link">
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/what-to-wear-to-your-baby-shower/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-07.jpg" alt="What to Wear to a Baby Shower?">
                <p>What to Wear to a Baby Shower?</p>
            </a>
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h2>Must&mdash;Haves for After Baby is Born</h2>
            <p class="ceg-b32">We've rounded up essential pieces you need to have in your closet after the baby is born. From undergarments to postpartum pieces, these will help make your new life as a mom easier (and still stylish).</p>
        </div>
    </div>

    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link">
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/nursing-bra-size-guide/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-04.jpg" alt="Nursing Bra Size Guide">
                <p>Nursing Bra Size Guide</p>
            </a>
        </div>
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/what-to-wear-after-having-a-baby/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-101-05.jpg" alt="What to Wear After Having a Baby">
                <p>What to Wear After Having a Baby</p>
            </a>
        </div>
    </div>
</div>

	{{> mightAlso }}

<script src="{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="{{version}}/js/maternity-clothing-guide.app.js"></script>