{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

    {{> header cegHero="Q8050021-104-hero.jpg" cegTitle="Nursing Bra Size Guide"}}
<div class="ceg-content">

    <div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Nursing Bra Size Guide</h1>
            <p>When you’re pregnant, you need as much support as you can get—and this goes double for your nursing undergarments. From your first trimester through baby's first months, maternity bras should be comfortable, versatile and made to handle your body's changing needs. Finding your perfect fit is extremely important. Most new moms think going up a size is enough&ndash;but it's not. Check out how to measure your nursing bra size. Need help? Come into your local Macy’s and let our experts assist you.
            <br><br>
            <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/bras/Bra_features/Nursing?id=55799">Shop Nursing Bras</a><br><br>
            <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/plus-size-maternity/Department_type/Bras?id=132942">Shop Plus Size Nursing Bras</a><br><br>
            <a href="{{ENV_HOSTNAME}}/shop/b/nursing-tops?id=138343">Shop Nursing Tops</a>
            </p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-104-02.jpg" alt="Before You Measure">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>Before You Measure</h5>
            <p class="ceg-b32">...round up all the tools you need:</p>
            <ul class="bullet-list">
                <li><strong>Measuring tape:</strong> A fabric version is best to get the most accurate measurement.</li>
                <li><strong>Pen & paper:</strong> To record your measurements.</li>
                <li><strong>Mirror:</strong> Standing in front of a mirror while taking your measurements will make easier to ensure you’re measuring the correct areas.</li>
                <li><strong>Non-padded bra:</strong> Make sure it reflects your true shape.</li>
            </ul>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>How to Measure Your Band Size</h5>
            <ul class="bullet-list">
                <li>Measure around your rib cage directly below your bust.</li>
                <li>The tape measure should be evenly horizontal and not pulled tightly.</li>
                <li>Round the measurement to the nearest whole number.</li>
                <li>If the measurement is an even number add 4”.</li>
                <li>If the measurement is an odd number add 5”.</li>
                <li>The total is your band size.</li>
            </ul>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>How to Measure Your Cup Size</h5>
            <ul class="bullet-list">
                <li>Measure the fullest part of your bust while wearing a non-padded bra.</li>
                <li>Subtract the band measurement from the bust measurement.</li>
                <li>The difference equals your cup size.</li>
            </ul>
        </div>
        
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>Maternity Bra Size Chart</h5>
            <table class="ceg-b32 maternity-table large-16 small-16 column">
                <thead>
                    <tr>
                        <td>Difference Between Band &amp; Bust</td>
                        <td>Cup Size</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1”</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>2”</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3”</td>
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>4”</td>
                        <td>D</td>
                    </tr>
                    <tr>
                        <td>5”</td>
                        <td>DD</td>
                    </tr>
                    <tr>
                        <td>6”</td>
                        <td>E</td>
                    </tr>
                    <tr>
                        <td>7”</td>
                        <td>F</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>How to choose a nursing bra?</h5>
            <p class="ceg-b32">Pick a nursing bra based on what you find most comfortable, your level of activity and your favorite styles. The best maternity bras that expertly blend fashion (think embellished details) with function (breathable fabrics) are the way to go. We’ve rounded up top-notch nursing bra styles you and baby are sure to love.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>What nursing bra can I wear on casual days?</h5>
            <p class="ceg-b32">From full-coverage to demi-cup styles, there are plenty of maternity bras to choose from. For unwavering support, stock up on underwire bras in your new size.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>Can I sleep in my nursing bra?</h5>
            <p class="ceg-b32">You can sleep in your nursing bra if that feels comfortable for you. Soft and lightweight, wrap bras or sleep bras provide light support and ensure effortless nighttime nursing access. Crafted with a simple pullover design, wrap-style bras are ideal for overnight comfort.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>What bra can I workout in while pregnant?</h5>
            <p class="ceg-b32">Depending on doctor's orders, you may get the go-ahead to stay active during your pregnancy—or maybe you just love the sporty look. Either way, sports bras and racerback bras will serve you well. They'll help keep your support needs covered during pregnancy, after the baby is born and throughout the entire nursing period.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>Can I wear a wireless nursing bra?</h5>
            <p class="ceg-b32">Yes, you can if you’re looking for the ultimate comfort with flexible fit. A wireless nursing bra is perfect! They come in a variety of styles designed for easy nursing.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>What style bra can help make nursing easier?</h5>
            <p class="ceg-b32">Clip-down bras make nursing super-easy with clips at each strap for quick access. Plus, this versatile design offers great support throughout the day. Those 3 A.M. feedings will (hopefully) become easier.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>What bra should I wear during my first trimester?</h5>
            <p class="ceg-b32">Typically, your breasts will grow quickly during this time. It’s smart to invest in stretchy and seamless bras you can use throughout different breast sizes.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>What bra should I wear during my second trimester?</h5>
            <p class="ceg-b32">In most cases, your ribcage will start to expand during this stage and your breast growth will start to slow down. Pick bras that provide extra support, have flexible underwires and secure closures.</p>
        </div>

        <div class="large-9 small-10 large-centered small-centered column">
            <h5>What bra should I wear during my third trimester?</h5>
            <p class="ceg-b32">This is when you should have reached your nursing bra size. Stock up on your favorite styles including clip-down, full-figure and flexible options.</p>
        </div>
    </div>
</div>
    {{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>