{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-105-hero.jpg" cegTitle="What to Wear After Having a Baby"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>What to Wear After Having a Baby</h1>
            <p>What do you wear after you bring home your bundle of joy? You will need to keep your <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes?id=66718">maternity clothing</a> handy after you have your baby. Unfortunately, your body will take a little time to return to its pre-pregnancy form. Until your body fully recovers from giving birth, you may want to wear comfy and loose clothing for a couple of weeks. And now that you’re nursing, specialty bras, tops and dresses will be needed to accommodate easier access during feedings. Treat yourself to our stylish collection of nursing clothes from your favorite maternity brands, like Motherhood Maternity, Jessica Simpson and A Pea in the Pod.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Post Pregnancy Underwear Do You Need After Having A Baby?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-105-02.jpg" alt="What Post Pregnancy Underwear Do You Need After Having A Baby?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Nursing Sleep Bra:</strong> As you adjust to your post-pregnancy body, a nursing sleep bra will be the most comfortable right after you give birth. These bras offer full coverage, light support and a pull-down nursing design for quick, easy night and early morning feedings.</li>
				<li><strong>Clip-Down Nursing Bra:</strong> Once you have become more acclimated with your nursing routine, clip-down nursing bras will make feeding times a breeze. They are available in seamless and underwire designs, depending on your comfort level and bra size.</li>
				<li><strong>Shaping Briefs:</strong> It may take a little time for your belly to go down, so the best <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/panties/Brand/Motherhood%20Maternity?id=55805">post pregnancy underwear</a> to wear after you recuperate from giving birth will be shaping briefs. They will smooth out your tummy, offer great support and help you get back into your pre-pregnancy clothes.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Tops Do You Wear After Having A Baby?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-105-03.jpg" alt="What Tops Do You Wear After Having A Baby?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
            	<li><strong>Clip-Down Nursing Tanks:</strong> While breastfeeding, you will want to stock up on nursing camisoles that have a clip-down function for effortless access. Available in fitted and flowy designs, you have a choice based on your sense of style and comfort level. Get a bundle of colors from basic to bold, like black, white and gray to red, yellow and pink. For a stylish post-pregnancy look, pair your nursing tank top with a draped cardigan and jogger pants—or swap the joggers for <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Leggings?id=66718">maternity leggings</a>.</li>
				<li><strong>Wrap Nursing Tops:</strong> Wrap nursing tops provide a more pulled-together look for your day-to-play style. During mealtimes or pumping sessions, simply untie or pull down the neckline of your top for access. Some faux-wrap nursing tops can also double as nursing wraps. Do you want your nursing look to stand out? Get a wrap nursing top in a vivid floral print or stripes. Want a more versatile look? Neutral colors, like black, gray and navy blue, will coordinate with all your favorite outfits. Partner your wrap nursing top with skinny pants for a chic, casual look—or dress it down with jeans.</li>
				<li><strong>Tiered Nursing Tops:</strong> What is a tiered nursing top? A tiered nursing top has various layers. Simply, lift the top layer during feedings and to pump. Make a stylish statement in prints or keep it classic in solids. Pair your tiered nursing top with your go-to jeans for a casual-chic look.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Bottoms Do You Wear After Having A Baby?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-105-05.jpg" alt="What Bottoms Do You Wear After Having A Baby?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
	            <li><strong>Yoga Pants:</strong> After you give birth you will want to wear comfortable pants with an elastic waistband, so yoga pants and sweats are your best bets while you’re still recuperating. Looking for a more trend-right option? Jogger pants are also super-comfy. Take your look up a notch with printed joggers, like leopard, camo and floral. Link up your yoga pants or joggers with your favorite T-shirts.</li>
				<li><strong>Post-Pregnancy Leggings:</strong> After you have finished recuperating from giving birth, post-pregnancy leggings will be ideal to wear until you’re able get back to your pre-pregnancy self. They feature a high-waist design for sleek shaping. Pair your nursing tops with post-pregnancy leggings for a polished, casual look.</li>
				<li><strong>Pull-On Skirts:</strong> When it’s too hot for pants, pull-on skirts are a great option for a comfortable fit. From above-the-knee to maxi styles, pull-on skirts will lend a feminine feel to your nursing tops.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What Dresses Do You Wear After Having A Baby?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-105-04.jpg" alt="What Dresses Do You Wear After Having A Baby?">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
	           	<li><strong>Wrap Nursing Dresses:</strong> A wrap nursing dress features a neckline that can be untied or pulled down during feedings. Defining the waist, a wrap design is a flattering silhouette. Do you want to make a fashionable statement in this classic look? Look for wrap nursing dressing with cold shoulders and vivid prints. Wrap nursing dresses are perfect for work and beyond.</li>
				<li><strong>Tiered Nursing Dresses:</strong> A tiered nursing dress has a panel that lifts up to gain access for pumping sessions or mealtimes. Do you needed a super-cute weekend look? Sport a tiered tank or maxi dress. What do you wear for a special occasion? A tiered lace dress is a sophisticated look for a special event, like a christening or bris.</li>
            </ul>
        </div>
    </div>
</div>
	{{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>