{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-107-hero.jpg" cegTitle="What to Wear to Your Baby Shower"}}
<div class="ceg-content">

		<div class="row ceg-hero-text">
	        <div class="large-10 small-10 large-centered small-centered column">
	            <h1>What To Wear To Your Baby Shower</h1>
	            <p>How do you look your best at your baby shower? From sleek sheath dresses to trending volume-sleeve <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Dresses?id=66718">maternity dresses</a>, you and your bump will steal the show at your baby shower. Find your perfect baby shower dress in Macy’s chic collection of <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes?id=66718">maternity clothing</a> from your favorite brands, like Motherhood Maternity, Jessica Simpson and A Pea in the Pod.</p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Volume-Sleeve Dress</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-108-04.jpg" alt="Volume-Sleeve Dress">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">Do you want a dramatic look for your baby shower? Volume sleeves, also referred to as bell sleeves, will lend on-trend appeal to your baby shower dress. Be a stylish standout in a volume-sleeve dress, spotlighting a bold print, embroidery or lace. Who says maternity wear can’t be fashionable?</p>
	        </div>
	    </div>	

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Statement Shirtdress</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-108-05.jpg" alt="Statement Shirtdress">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">Looking chic at your baby shower will be a cinch in a maternity shirtdress. Defined by a belted waist, a shirtdress will highlight the narrowest part of you midsection above the bump. Not only is a shirtdress flattering, it’s also trending. Want to lend an updated feel to this classic look? Check out maternity shirtdresses with utility or asymmetrical details for the perfect baby shower dress.</p>
	        </div>
	    </div>	

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Floral-Print Dress</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-108-06.jpg" alt="Floral-Print Dress">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">No matter the season, brighten up your baby shower look in a feminine floral print for a fashionable statement. Amp up the flair factor of your maternity dress with ruffles, lace and applique. Do you want to show off your bump? Don a sheath dress to your baby shower. Want a more slenderizing look? Cinch your silhouette with a belted style that highlights the narrower part of your midsection. You’re bound to look stylish at your baby shower in a floral-print dress.</p>
	        </div>
	    </div>	    

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Cold & Off-The-Shoulder Dress</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-108-02.jpg" alt="Cold & Off-The-Shoulder Dress">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">Do you want a trend-right look for your baby shower? Flaunt an off-the-shoulder or cold-shoulder dress to infuse stylish appeal to your baby shower dress.  What’s the difference between a cold-shoulder and an off-the-shoulder dress? A cold-shoulder dress features cutouts at the shoulders, while an off-the-shoulder dress features a neckline that stretches beyond the shoulders. Drawing the eyes upward, both off-the-shoulder and cold-shoulder maternity dresses are flattering. Are you looking to stand out? Wear a bold color or print to have eyes on you. Pink, floral prints and stripes will keep your cold-shoulder or off-the-shoulder dress on-trend.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Lace Dress</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-102-04.jpg" alt="Lace Dress">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">Step up the romance with a lace maternity dress for your baby shower. Do you want to add trend-forward style to your dress? Select a dress with cold-shoulders or bell sleeves for a fashionable finish. Do you want a sleeker looking silhouette? Get a colorblocked maternity dress with a contoured design. Or showcase your bump in a lace sheath dress. Win the style race in lace at your baby shower.</p>
	        </div>
	    </div>
	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Maxi Dress</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-108-07.jpg" alt="Maxi Dress">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">Do you want to elongate your silhouette? Sport a maxi dress to your baby shower. Look striking in vibrant colors and prints that will spotlight you and your baby bump. For a sleeker silhouette, check out belted and twist-front styles that draw the attention toward the narrower part of your body&ndash;above the bump. Also, maternity maxi dresses in darker colors will add a sleek effect. Maximize your style in a maxi dress at your baby shower.</p>
	        </div>
	    </div>
</div>
	{{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>