{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-103-hero.jpg" cegTitle="What Maternity Clothes Do I Really Need?"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>What Maternity Clothes Do I Really Need?</h1>
            <p>Every woman's journey to motherhood is different (as is her maternity style). Here's a list of essential pieces we think every mom-to-be should have in her maternity wardrobe. And as a bonus? We’ve thrown in a few style tips to help you look your best.
            <br><br>
            <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes?id=66718">Shop Maternity Clothing</a>
        	</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>1. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/panties/Brand/Motherhood%20Maternity?id=55805">Maternity Underwear</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-04.jpg" alt="Maternity Underwear">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">You can never have enough underwear, and this notion is even more true when you're pregnant. Start your maternity wardrobe with new undergarments. Refresh your collection at least once during each trimester to keep up with your growing belly.</p>
        	<ul class="bullet-list">
        		<li><strong>Briefs:</strong> From classics to hipster to high rise, the brief is all about comfort.</li>
        		<li><strong>Nursing bras:</strong> Pick up nursing bras you can wear during and after your pregnancy. Go for comfortable fits and features like clip-down straps to help make it easier to nurse when the time comes.</li>
        		<li><strong>Shapers:</strong> Smooth your silhouette without restricting your bump with a panty or body shaper.</li>
        		<li><strong>Socks:</strong> Swollen feet are real, but a pair of cozy socks will help add comfort to your shoes or can be worn alone.</li>
        	</ul>
        </div>
    </div>	

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>2. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Tops?id=66718">Maternity Shirts</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-02.jpg" alt="Maternity Shirts">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Pick tops that embrace the bump or go with the flow. A well-rounded shirt collection will have options in both styles.</p>
            <ul class="bullet-list">
            	<li><strong>Form-fitting tops:</strong> Your growing belly should be celebrated. Show it off in maternity tops and tees that highlight the fact that you have a baby on board. Empire waists are a classic go-to while bodycon silhouettes are very of-the-moment.</li>
            	<li><strong>Billowy blouses:</strong> Gorgeous, flowing fabrics are a feminine way to embrace new motherhood. Gravitate toward blouses in varying lengths you’ll want to use again.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>3. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Dresses?id=66718">Maternity Dresses</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-03.jpg" alt="Maternity Dresses">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">When in doubt, wear the dress. Pick a style and color that make you feel uniquely beautiful. Here are a few classic and on-trend options:</p>
            <ul class="bullet-list">
            	<li><strong>A-line:</strong> A dress that floats over your body can be comfortable and flattering.</li>
            	<li><strong>Bodycon:</strong> Every body is beautiful, especially the body of a pregnant woman. Showcase your new shape with a curve-hugging dress.</li>
            	<li><strong>Cold Shoulder:</strong> Strategic touches of skin for the win! This on-trend dress detail is nearing timeless territory and looks gorgeous in both short and long lengths.</li>
            	<li><strong>Empire Waist:</strong> A dress that cinches right above your growing baby bump is an adorable way to highlight it. Take it a step further and pick a style with texture or accents like a bow&ndash;a child is a gift after all.</li>
            	<li><strong>Maxi:</strong> A floor-sweeping marvel, you’ll sway with pride in this long number. Printed versions are playful picks.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>4. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Leggings?id=66718">Maternity Leggings</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-07.jpg" alt="Maternity Leggings">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Perfect for pairing with tunics and tees, maternity leggings are an effortless way to keep your look totally on-trend. You'll love the versatility of elasticized waistbands that sit on, over or under the belly for extra comfort. Find the perfect length and figure flattering fit from top maternity brands.</p>
            <ul class="bullet-list">
            	<li><strong>Full-length:</strong> Long leggings are a must in any wardrobe. You can wear them under dresses or tunics for a cool, layered look.</li>
            	<li><strong>Cropped:</strong> A shorter length is a great option to switch things up. Go with styles accented with pops of color or fresh details.</li>
            	<li><strong>Tights:</strong> Crafted from super-stretchable fabric, maternity tights are another must-have for expecting moms. Wear them with dresses and skirts for an extra layer of confidence and support.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>5. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Jeans?id=66718">Maternity Jeans</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-08.jpg" alt="Maternity Jeans">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Let's give new meaning to “mom jeans.” The best maternity jeans grow with your belly through every stage of pregnancy. We’ve got a great selection of styles that have been modified for moms-to-be. Featuring a variety of elasticized waistbands, maternity jeans provide all-day comfort and support. Shop petite and plus sizes from brands like Motherhood Maternity and Jessica Simpson.</p>
            <ul class="bullet-list">
            	<li><strong>Flaunt Your Skin(nies):</strong> Keep wearing and loving skinny jeans while pregnant! This fit has such a slimming effect and gives any look a more polished appeal. Balance a flowy top with a pair of skinnies.</li>
            	<li><strong>Straight Up & Down:</strong> Straight-leg jeans are a closet must-have. They’re not too wide or skinny which makes them very flattering to all. Try a colorful pair for extra oomph.</li>
            	<li><strong>Flare for the Dramatic:</strong> Prefer bootcut jeans? Get the look with a stretchy pair from your top maternity brands. The wider leg looks great with a fitted top tucked into it.</li>
            	<li><strong>Crop to It:</strong> It’s fun to play with proportion when you’re pregnant. Cropped jeans will breathe new life into any piece they’re paired with. From fitted tops that showcase your changing body to figure-flattering tunics, cropped jeans will steal the show.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>6. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Coats?id=66718">Maternity Coats</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-09.jpg" alt="Maternity Coats">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Don't overlook outerwear. Oversized coats and jackets are the way to go—you can wear them even after you give birth.</p>
            <ul class="bullet-list">
            	<li><strong>Go with classic colors:</strong> Hues like camel and black are timeless options.</li>
            	<li><strong>Have fun with print:</strong> Throw caution to the wind and invest in a print you’re sure to love.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>7. <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Activewear?id=66718">Maternity Activewear</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-06.jpg" alt="Maternity Activewear">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Get fit in activewear that actually fits from brands including A Pea in the Pod, Motherhood Maternity and Splendid (as long as your doctor gave you the go-ahead, of course).</p>
            <ul class="bullet-list">
            	<li><strong>Choose activewear based on your preferred workout:</strong> Think yoga pants for yoga, compression leggings for running, etc.</li>
            	<li><strong>Try options that can double as loungewear:</strong> At some point during your pregnancy, you may decide to take it easy, so pick pieces you can build athleisure outfits around.</li>
            	<li><strong>Pick supportive undergarments:</strong> A sports bra is a great investment and will come in handy.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>8. <a href="{{ENV_HOSTNAME}}/shop/b/maternity-swimwear?id=128857">Maternity Swimsuits</a></h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-103-05.jpg" alt="Maternity Swimsuits">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">Going to the pool or beach? Mom needs to relax, too. Do it in style with a swimsuit designed for two from Motherhood Maternity and A Pea in the Pod.</p>
            <ul class="bullet-list">
            	<li><strong>One-Piece:</strong> A one-piece swimsuit designed for your baby bump is a must! Have fun with prints and colors.</li>
            	<li><strong>Bikini:</strong> Show off that belly in a cute two-piece swimsuit. Have fun with various tops—triangles and halters. Don’t forget cute bottoms, too! Think high-waisted numbers, side-ties and hipsters.</li>
            	<li><strong>Cover-Ups:</strong> Complement your favorite new swimsuit with a cover-up. Slip on a solid, sheer or textured option from your favorite brands.</li>
            </ul>
        </div>
    </div>
</div>
	{{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>