{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8050021-102-hero.jpg" cegTitle="When to Buy Maternity Clothes"}}
<div class="ceg-content">

		<div class="row ceg-hero-text">
	        <div class="large-10 small-10 large-centered small-centered column">
	            <h1>When to Buy Maternity Clothes</h1>
	            <p>Whether you just found out or are already showing, you’re now dressing for two. When putting together outfits, you should always look for pieces that evoke the perfect combination of comfort and style. We’ve broken down what pieces to buy and what stage of your pregnancy they’ll get the most use.
	    		<br><br>
	            <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes?id=66718">Shop Maternity Clothing</a>
	            </p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>What to Wear During Each Stage of Pregnancy</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-102-02.jpg" alt="What to Wear During Each Stage of Pregnancy">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What Clothes Should I Buy During My First Trimester?</h5>
	            <p class="ceg-b32">You may not be showing at this early stage, so you probably can still fit into most of your normal clothes. Some key items you may want to pick up are maternity shirts and dresses in a larger size than you need right now—you can always belt them to give you a bit of shape. Pair these items with flats and cute little totes you can later use as a diaper bag. And don’t forget to grab socks to wear around the house—your swollen feet will thank you.</p>
	        </div>
	    
	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What Clothes Should I Buy During Second Trimester?</h5>
	            <p class="ceg-b32">This is the stage where you should embrace tge bump! Refresh your collection of T-shirts and blouses and add <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Jeans?id=66718">maternity jeans</a>, pants, skirts and shorts featuring elastic waistbands to accomodate your growing tummy. When creating outfits, remember balance is key. Think flowing tops paired with sleeker bottoms and vice versa.</p>
	        </div>
	    
	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What Clothes Should I Buy During Third Trimester?</h5>
	            <p class="ceg-b32">You're almost there! During the last stage of your pregnancy you'll want to add pieces to your closet that you can wear even after the baby is born. Grab a <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Coats?id=66718">maternity coat</a> or oversized jacket that fits perfectly now and plays into the oversized trend later. After your little bundle of joy enters the world, you’ll want to relax and focus all your attention on him or her. This is where extra comfy pieces like activewear and sweatshirts come in handy. You can relax in style with roomier tops paired with stretchy leggings or maternity jeans. Pick up more <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/panties/Brand/Motherhood%20Maternity?id=55805">maternity underwear</a> and nursing bras.</p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Pick Pants, Jeans & Leggings with Built-In Belly Panels</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-102-03.jpg" alt="Pick Pants, Jeans & Leggings with Built-In Belly Panels">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">Discover the built-in comfort of the stretchy waistband and belly panels. Wear them folded down or over your baby bump as you grow. When will you need to start buying <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Leggings?id=66718">maternity leggings</a>, maternity jeans and maternity pants? The timing is different for all women, but most start to think about it around the fourth month. Regular pants typically become uncomfortable around the end of the third month.</p>
	        </div>
	    
	        <div class="large-9 small-10 large-centered small-centered column">
	            <h5>The Three Types Of Waistbands:</h5><br>
	            <h5>Below Belly</h5>
	            <ul class="bullet-list">
	            	<li>Sits under your belly</li>
	            	<li>Cotton/spandex fabric panel with elastic</li>
	            	<li>Great for early to mid-pregnancy</li>
	            </ul>
	        </div>
	    
	        <div class="large-9 small-10 large-centered small-centered column">
	            <h5>Foldover Waistband</h5>
	            <ul class="bullet-list">
	            	<li>Seamless elastic panel supports the entire belly</li>
	            	<li>Cotton/spandex fabric panel with elastic</li>
	            	<li>Great for all nine months and after baby is born</li>
	            </ul>
	        </div>
	    
	        <div class="large-9 small-10 large-centered small-centered column">
	            <h5>Side Panel</h5>
	            <ul class="bullet-list">
	            	<li>Stretchy elastic panels on the side</li>
	            	<li>Comfortable waist with no defined panel</li>
	            	<li>Great for all nine months and after baby is born</li>
	            </ul>
	        </div>
	    </div>

	    <div class="row">
	        <div class="large-11 small-11 large-centered small-centered column">
	            <h2>Stock Up on Maternity Dresses For Special Occasions</h2>
	        </div>
	    </div>

	    <div class="row ce-mobile-full ce-mobile-collapse">
	        <div class="large-11 small-12 large-centered column">
	            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8050021-102-04.jpg" alt="Stock Up on Maternity Dresses For Special Occasions">
	        </div>
	    </div>   

	    <div class="row ceg-t35">
	        <div class="large-9 small-10 large-centered small-centered column">
	            <p class="ceg-b32">From pre-planned events celebrating the new addition to your household to impromptu invites you simply must attend, special occasions can rule your social calendar during pregnancy. As with all things, preparation is key. Step away from the sweatpants and T-shirt and follow our handy guide on what special occasion <a href="{{ENV_HOSTNAME}}/shop/womens-clothing/maternity-clothes/Department_type/Dresses?id=66718">maternity dress</a> to wear where.</p>
	        </div>

	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What To Wear To My Gender Reveal Party?</h5>
	            <p class="ceg-b32">Gender reveal parties have gained momentum over the years and we're always down for another reason to celebrate. For your outfit, consider a dress that is stylish at any stage. An A-line or a fit-and-flare dress is perfect for pregnancy, especially since these dresses can feature elasticized waistlines, flowing silhouettes and self-tie belts that highlight your bump.</p>
	        </div>

	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What To Wear To My Babymoon?</h5>
	            <p class="ceg-b32">If you're able to take a couple’s vacation during your pregnancy (aka a babymoon), then do it in style! Make you (and your bump) the center of attention with a wonderful dress. A flowing maxi or short baby doll dress is as effortless as it is flattering. Sleeveless dresses are perfect for layering and warm weather. This piece can flatter throughout pregnancy and can easily be paired with a cardigan or blazer if you’re traveling somewhere chillier or want to wear it later. Don’t forget a <a href="{{ENV_HOSTNAME}}/shop/b/maternity-swimwear?id=128857">maternity swimsuit</a> if you plan to be near water.</p>
	        </div>

	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What To Wear To An Engagement Party/Wedding</h5>
	            <p class="ceg-b32">Vow to wow the crowd at an engagement party or wedding with a cocktail dress, sans cocktail and heavy on the lace. Achieve haute mama status with a midi length dress that’s both demure and daring. Stick with a classic formal color palette of jewel tones and timeless black.</p>
	        </div>

	        <div class="large-9 small-10 large-centered small-centered column">
	        	<h5>What To Wear To A Birthday Party?</h5>
	            <p class="ceg-b32">Whether you're celebrating your birthday or someone else’s, you need to look the part. A sundress in a pretty print is a casual stunner. For a more dressed up appearance, go with a timeless shift dress.</p>
	        </div>
	    </div>
</div>
	{{> mightAlso }}

<script src="../{{version}}/js/maternity-clothing-guide.manifest.js"></script>
<script src="../{{version}}/js/maternity-clothing-guide.app.js"></script>