<div class="ceg-header-placement"></div>
<div class="row ce-mobile-full ce-mobile-collapse ceg-nav-wrapper">
    <div class="small-12 columns">
        <div class="ceg-menu">
            <div class="ceg-menu-header">
                <span>MATERNITY CLOTHING GUIDE</span>
                <div class="ceg-menu-header-plus-minus"></div>
            </div>

            <div class="ceg-menu-content">
                <div class="ceg-menu-content-left">
                    <span>STYLE ESSENTIALS YOU NEED DURING PREGNANCY</span>
                    <ul style="margin-left:0;">
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/when-to-buy-maternity-clothes/">When to Buy Maternity Clothes</a></li>
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/what-maternity-clothes-do-I-really-need/">What Maternity Clothes Do I Really Need?</a></li>
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/best-shoes-for-pregnancy/">Best Shoes for Pregnancy</a></li>
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/best-maternity-clothing-brands/">Best Maternity Clothing Brands</a></li>
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/what-to-wear-to-your-baby-shower/">What to Wear to a Baby Shower?</a></li>
                    </ul>    
                </div>
                <div class="ceg-menu-content-right"> 
                    
                    <span>MUST-HAVES FOR AFTER BABY IS BORN</span>
                    <ul style="margin-left:0;">
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/nursing-bra-size-guide/">Nursing Bra Size Guide</a></li>
                        <li><a href="{{ENV_HOSTNAME}}/p/maternity-clothing-guide/what-to-wear-after-having-a-baby/">What to Wear After Having a Baby</a></li>
                    </ul>                                      
                </div>
            </div>
        </div>
    </div>
</div>
{{! trigger for mobile only JS }}

<div class="show-for-large-up"></div>